.game {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #FEF9EF;
}

.header {
  background-color: #227C9D;
  display: flex;
  justify-content: space-between;
  min-height: 10vh;
  position: fixed;
}

.nav-link {
  min-height: 20% !important;
  margin: 20px 0px;
  font-size: 2rem;
  text-align: start;
  border-bottom: 1px solid #00afb9;
}

.header-icon {
  color: #FEF9EF
}

.game-card {
  width: 90%;
  height: 60%;
  background-color:#17C3B2 !important;
  h2 {
    margin-top: 15px;
    color: #FEF9EF;
  }
}
.gender-button{
  border: none;
  background-color: #FFCB77;
  color: #227C9D;
  box-shadow: 2px 2px 3px 0px #00798c;
  padding: 15px 25px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 15px;
  transition: 0.5s;
  margin: 20px;
}

.deck {
  height: '80%'; 
  width: '100%'; 
  overflow: 'hidden';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-buttons {
  width: 60%;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 6rem;
}

.card-button:hover{
  transform: scale(1.2);
}

.card-button {
  background-color: #FFCB77 !important;
}

.card-icon {
  font-size: 2rem !important;
}

.card-button:hover {
  transform: scale(1.1);
}

.card-button:focus {
  outline:none
}