.info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  top:0;
  left:0;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ffb48f;
  position: fixed;
  transition: 1s;
  transform: translateY(-100%);
  &.active {
    transform: none;
  }
}

.info-button {
  z-index: 20;
  position: relative;
  color:#41b3a3;
  border: none;
  background-color: rgba(255,255,255, 0.7);
  padding: 15px 25px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: 35px;
  transition: 0.5s;
}

.info-card {
  width: 90vw;
  height: 80vh;
  background-color: #17c3b2 !important;
  color: white !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  h1 {
    margin: 0;
    padding: 12px
  }
  a {
    text-decoration: none;
  }

}


