
p {
  color: red;
  background-color: transparent;
}

p::before {
  display: inline;
  content: "⚠ ";
}

button:hover,
input:hover {
  background: #fccd04;
}

button:active,
input:active,
input:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

input:hover {
  transition: 0.3s all;
}


.login {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 10px 9px 26px -7px rgba(0,0,0,1);
  label, h1 {
    background-color: inherit;
    color: #a64ac9;
    margin: 10px 0px;
  }
  border-radius: 20px;
  padding: 15px
}

.login-button {
  position: relative;
  color:white;
  border: none;
  background-color: #a64ac9;
  padding: 15px 25px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: 35px;
  transition: 0.5s;
}

.login-input{
  background: white;
  color: #a64ac9;
  text-transform: uppercase;
  border: 1px solid #a64ac9;
  height: 3rem;
  padding: 0.5rem;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: normal;
}

h5 {
  text-align: center;
  margin-top: 2px;
  font-size: 0.7rem;
  background-color: transparent;
  color: #17e9e0;
  a {
    background-color: inherit;
    color: inherit;
  }

}